.youlikeButtonContainer_modern {
    width: 100%;
}

.youlikeButtonContainer_classic {
    height: 23px;
    margin-left: 28px;
    padding-bottom: 1px;
    line-height: 25px;
    font-size: 12px;
}

.youlikeButton_modern {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 10pt;
    background-color: rgb(238, 238, 238);
    color: rgba(17, 17, 17, 0.6);
}

.youlikeButton_accent {
    background-color: red !important;
    color: white !important;
}
